<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="survivingwithandroid.com.parsepushtutorial" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="survivingwithandroid.com.parsepushtutorial.permission.C2D_MESSAGE" />
    <uses-permission android:name="survivingwithandroid.com.parsepushtutorial.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".ParseTutorialApplication">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
<!--
      <receiver android:name="com.parse.ParsePushBroadcastReceiver"  android:exported="false">
-->

       <receiver android:name="survivingwithandroid.com.parsepushtutorial.JSONCustomReceiver"
           android:exported="false">

           <intent-filter>
               <action android:name="com.parse.push.intent.RECEIVE" />
               <action android:name="com.parse.push.intent.DELETE" />
               <action android:name="com.parse.push.intent.OPEN" />
           </intent-filter>
       </receiver>
       <receiver android:name="com.parse.GcmBroadcastReceiver"
           android:permission="com.google.android.c2dm.permission.SEND">
           <intent-filter>
               <action android:name="com.google.android.c2dm.intent.RECEIVE" />
               <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

               <!--
                 IMPORTANT: Change "com.parse.starter" to match your app's package name.
               -->
                <category android:name="survivingwithandroid.com.parsepushtutorial" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
